- render_region :form do |form|
  - form.title do
    %p.title
      = fields.label :title
      = fields.text_field :title, :class => 'textbox'
  - form.drawer do
    .drawer
      .drawer_contents#attributes
        %table.fieldset
          %tr
            %th.label
              = fields.label :caption
            %td.field
              = fields.text_field :caption, :class => 'textbox'
      .drawer_handle
        = link_to 'More', '#attributes', { :class => 'more toggle', :rel => 'toggle[attributes]' }
  - form.upload do
    %p.update
      = fields.label :asset
      = fields.file_field :asset
  - form.popups do
    - nil