- render_region :form_bottom do |form_bottom|
  - form_bottom.buttons do
    %p.buttons
      = save_model_button(@image)
      = save_model_and_continue_editing_button(@image)
      = t('or')
      = link_to t('cancel'), admin_images_url

  - form_bottom.timestamps do
    = updated_stamp @image