- render_region :form do |form|
  - form.asset do
    %p.asset
      - unless @image.new_record?
        = image_tag @image.url(:preview)
        - @image.asset.styles.each do |style, attrs|
          - unless style.to_sym == :preview
            = link_to style.to_s, @image.url(style.to_sym)
  - form.title do
    %p.title
      = fields.label :title
      = fields.text_field :title, :class => 'textbox'
  - form.upload do
    %p.update
      = fields.label :asset
      = fields.file_field :asset
  - form.popups do
    - nil